<div class="bidartOne wkshop">
	<div class="row headings">
		<div class="col-xs-3">
			<h2>Bidart 1</h2>
		</div>
	  <div class="col-xs-2">
			<h3>Anna</h3>
		</div>
		<div class="col-xs-2">
			<h3>Boris</h3>
		</div>
		<div class="col-xs-2">
			<h3>Claire</h3>
		</div>
		<div class="col-xs-2">
			<h3>Goni</h3>
		</div>
		<div class="col-xs-2">
			<h3>Leila</h3>
		</div>
		<div class="col-xs-2">
			<h3>Livio</h3>
		</div>
		<div class="col-xs-2">
			<h3>Mathilde</h3>
		</div>
		<div class="col-xs-2">
			<h3>Nicolas</h3>
		</div>
		<div class="col-xs-2">
			<h3>Uri</h3>
		</div>
	</div>
	{{#each bidartOne}}
	 <div class="row" id="{{id}}">
	  <div class="col-xs-3 moment">{{moment}}</div>
	  <div class="col-xs-2">
	  	<p data-name="Anna">{{Anna}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Boris">{{Boris}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Claire">{{Claire}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Goni">{{Goni}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Leila">{{Leila}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Livio">{{Livio}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Mathilde">{{Mathilde}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Nicolas">{{Nicolas}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Uri">{{Uri}}</p>
	  </div>
	</div>
	{{/each}}
</div>

<div class="aubervilliers wkshop">
	<div class="row headings">
		<div class="col-xs-3">
			<h2>Aubervilliers</h2>
		</div>
	  <div class="col-xs-2">
			<h3>Anna</h3>
		</div>
		<div class="col-xs-2">
			<h3>Boris</h3>
		</div>
		<div class="col-xs-2">
			<h3>Claire</h3>
		</div>
		<div class="col-xs-2">
			<h3>Goni</h3>
		</div>
		<div class="col-xs-2">
			<h3>Leila</h3>
		</div>
		<div class="col-xs-2">
			<h3>Livio</h3>
		</div>
		<div class="col-xs-2">
			<h3>Mathilde</h3>
		</div>
		<div class="col-xs-2">
			<h3>Nicolas</h3>
		</div>
		<div class="col-xs-2">
			<h3>Uri</h3>
		</div>
	</div>
	{{#each aubervilliers}}
	 <div class="row" id="{{id}}">
	  <div class="col-xs-3 moment">{{moment}}</div>
	  <div class="col-xs-2">
	  	<p data-name="Anna">{{Anna}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Boris">{{Boris}}</p>
	  </div>
	  <div class="col-xs-2">

	  	<p data-name="Claire">{{Claire}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Goni">{{Goni}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Leila">{{Leila}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Livio">{{Livio}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Mathilde">{{Mathilde}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Nicolas">{{Nicolas}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Uri">{{Uri}}</p>
	  </div>
	</div>
	{{/each}}
</div>

<div class="jerusalem wkshop">
	<div class="row headings">
		<div class="col-xs-3">
			<h2>Jérusalem</h2>
		</div>
	  <div class="col-xs-2">
			<h3>Anna</h3>
		</div>
		<div class="col-xs-2">
			<h3>Boris</h3>
		</div>
		<div class="col-xs-2">
			<h3>Claire</h3>
		</div>
		<div class="col-xs-2">
			<h3>Goni</h3>
		</div>
		<div class="col-xs-2">
			<h3>Leila</h3>
		</div>
		<div class="col-xs-2">
			<h3>Livio</h3>
		</div>
		<div class="col-xs-2">
			<h3>Mathilde</h3>
		</div>
		<div class="col-xs-2">
			<h3>Nicolas</h3>
		</div>
		<div class="col-xs-2">
			<h3>Uri</h3>
		</div>
	</div>
	{{#each jerusalem}}
	 <div class="row" id="{{id}}">
	  <div class="col-xs-3 moment">{{moment}}</div>
	  <div class="col-xs-2">
	  	<p data-name="Anna">{{Anna}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Boris">{{Boris}}</p>
	  </div>
	  <div class="col-xs-2">

	  	<p data-name="Claire">{{Claire}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Goni">{{Goni}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Leila">{{Leila}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Livio">{{Livio}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Mathilde">{{Mathilde}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Nicolas">{{Nicolas}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Uri">{{Uri}}</p>
	  </div>
	</div>
	{{/each}}
</div>

<div class="bidartTwo wkshop">
	<div class="row headings">
		<div class="col-xs-3">
			<h2>Bidart 2</h2>
		</div>
	  <div class="col-xs-2">
			<h3>Anna</h3>
		</div>
		<div class="col-xs-2">
			<h3>Boris</h3>
		</div>
		<div class="col-xs-2">
			<h3>Claire</h3>
		</div>
		<div class="col-xs-2">
			<h3>Goni</h3>
		</div>
		<div class="col-xs-2">
			<h3>Leila</h3>
		</div>
		<div class="col-xs-2">
			<h3>Livio</h3>
		</div>
		<div class="col-xs-2">
			<h3>Mathilde</h3>
		</div>
		<div class="col-xs-2">
			<h3>Nicolas</h3>
		</div>
		<div class="col-xs-2">
			<h3>Uri</h3>
		</div>
	</div>
	{{#each bidartTwo}}
	 <div class="row" id="{{id}}">
	  <div class="col-xs-3 moment">{{moment}}</div>
	  <div class="col-xs-2">
	  	<p data-name="Anna">{{Anna}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Boris">{{Boris}}</p>
	  </div>
	  <div class="col-xs-2">

	  	<p data-name="Claire">{{Claire}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Goni">{{Goni}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Leila">{{Leila}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Livio">{{Livio}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Mathilde">{{Mathilde}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Nicolas">{{Nicolas}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Uri">{{Uri}}</p>
	  </div>
	</div>
	{{/each}}
</div>

<div class="dehors wkshop">
	<div class="row headings">
		<div class="col-xs-3">
			<h2>Dehors</h2>
		</div>
	  <div class="col-xs-2">
			<h3>Anna</h3>
		</div>
		<div class="col-xs-2">
			<h3>Boris</h3>
		</div>
		<div class="col-xs-2">
			<h3>Claire</h3>
		</div>
		<div class="col-xs-2">
			<h3>Goni</h3>
		</div>
		<div class="col-xs-2">
			<h3>Leila</h3>
		</div>
		<div class="col-xs-2">
			<h3>Livio</h3>
		</div>
		<div class="col-xs-2">
			<h3>Mathilde</h3>
		</div>
		<div class="col-xs-2">
			<h3>Nicolas</h3>
		</div>
		<div class="col-xs-2">
			<h3>Uri</h3>
		</div>
	</div>
	{{#each dehors}}
	 <div class="row" id="{{id}}">
	  <div class="col-xs-3 moment">{{moment}}</div>
	  <div class="col-xs-2">
	  	<p data-name="Anna">{{Anna}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Boris">{{Boris}}</p>
	  </div>
	  <div class="col-xs-2">

	  	<p data-name="Claire">{{Claire}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Goni">{{Goni}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Leila">{{Leila}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Livio">{{Livio}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Mathilde">{{Mathilde}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Nicolas">{{Nicolas}}</p>
	  </div>
	  <div class="col-xs-2">
	  	<p data-name="Uri">{{Uri}}</p>
	  </div>
	</div>
	{{/each}}
</div>


